<p id="notice"><%= notice %></p>

<p>
  <strong>Kitchen:</strong>
  <%= @amenity.kitchen %>
</p>

<p>
  <strong>Internet:</strong>
  <%= @amenity.internet %>
</p>

<p>
  <strong>Tv:</strong>
  <%= @amenity.tv %>
</p>

<p>
  <strong>Cable tv:</strong>
  <%= @amenity.cable_tv %>
</p>

<p>
  <strong>Internet:</strong>
  <%= @amenity.internet %>
</p>

<p>
  <strong>Washer:</strong>
  <%= @amenity.washer %>
</p>

<p>
  <strong>Gym:</strong>
  <%= @amenity.gym %>
</p>

<p>
  <strong>Handicap accessible:</strong>
  <%= @amenity.handicap_accessible %>
</p>

<p>
  <strong>Smoking allowed:</strong>
  <%= @amenity.smoking_allowed %>
</p>

<p>
  <strong>Indoor fireplace:</strong>
  <%= @amenity.indoor_fireplace %>
</p>

<p>
  <strong>Air conditiong:</strong>
  <%= @amenity.air_conditiong %>
</p>

<p>
  <strong>Heating:</strong>
  <%= @amenity.heating %>
</p>

<p>
  <strong>Dryer:</strong>
  <%= @amenity.dryer %>
</p>

<p>
  <strong>Place:</strong>
  <%= @amenity.place %>
</p>

<%= link_to 'Edit', edit_amenity_path(@amenity) %> |
<%= link_to 'Back', amenities_path %>
