<!DOCTYPE html>
<html>
  <head>
    <title>Vacation Rentals, Homes, Experiences &amp; Places - Cloudbnb</title>
    <%= csrf_meta_tags %>
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//t1m0n.name/air-datepicker/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
    
    <script src="//t1m0n.name/air-datepicker/dist/js/datepicker.min.js"></script>
    <script src="//t1m0n.name/air-datepicker/dist/js/i18n/datepicker.en.js"></script>
    <script src="https://js.braintreegateway.com/js/braintree-2.22.2.min.js"></script>

  

  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="container-fluid">      
      <div class="row">
        <div class="col-lg-12">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>        
      </div>
      <%= render 'shared/footer' %>
    </div>   
    
  </body>
</html>
