<!DOCTYPE html>
<html>
  <head>
    <title>Vacation Rentals, Homes, Experiences &amp; Places - Cloudbnb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<!--     <link href="//cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">    
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-placeholder/2.3.1/jquery.placeholder.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.18/jquery.touchSwipe.min.js"></script>
    
    <script src="http://mariusn.com/themes/reales/js/infobox.js"></script>
    <script src="http://mariusn.com/themes/reales/js/jquery.visible.js"></script>
    <script src="http://mariusn.com/themes/reales/js/home.js"></script> -->

    
    <link href="//t1m0n.name/air-datepicker/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
    <script src="//t1m0n.name/air-datepicker/dist/js/datepicker.min.js"></script>
    <script src="//t1m0n.name/air-datepicker/dist/js/i18n/datepicker.en.js"></script>


  </head>

  <body>

    <div class="container-fluid">
      <%= render 'shared/navbar' %>
      <div class="row">
        <div class="col-lg-12">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>        
      </div>
      <%= render 'shared/footer' %>
    </div>   
    
  </body>
</html>
